@import '../../common/colors.scss';
@import '../../common/borders.scss';

.search {
  margin-bottom: 20px;
  width: 100%;

  &-form {
    width: 100%;

    &__input {
      width: 100%;
      padding: 5px;

      color: $white;

      background: $dark-gray;
      border: none;
      outline: none;
      border-radius: $border-radius;
    }
  }
}