@import '../page-containers.scss';
@import '../../common/colors.scss';
@import '../../common/borders.scss';

.photo-settings {
  @extend .page-container;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 20px;
    padding: 20px;
    width: 100%;

    background: $dark-gray;
    border-radius: $border-radius;
  }

  &__title {
    margin-bottom: 10px;
    color: $white;
  }

  &-label {
    color: $light-gray;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__input {
    padding: 10px;
    margin-bottom: 20px;
    color: $light-gray;
    background: $dark-gray;
    outline: none;
    border: none;
    border-radius: $border-radius;
  }

  &__name-input {
    @extend .photo-settings__input;

    &-label {
      margin-bottom: 5px;
    }
  }

  &__submit-btn {
    @extend .photo-settings__input;
    color: $white;
    background: $tomato;
    
    &:hover {
      background: $red;
    }

    &:active {
      background: $light-gray;
      color: $red;
    }
  }
}