@import '../../common/layout.scss';

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

    &__central-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding-left: $layout-padding;
      padding-right: $layout-padding;
   }
}