@import '../../colors.scss';
@import '../../borders.scss';

.load-popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 80%;

  &__dropbox-load-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;
    margin-bottom: 30px;

    border: 2px dotted $white;
    border-radius: $border-radius;

    &:hover {
      border-color: $green;
    }
  }

  &__file-input {
    position: absolute;
    width: 0.1px;
	  height: 0.1px;
	  
    opacity: 0;
	  overflow: hidden;
	  position: absolute;
	  z-index: -1;
  }

  &__file-input-label {
    margin-bottom: 30px;
    color: $white;
    cursor: pointer;
  }

  &__url-input {
    width: 90%;
    padding: 10px;

    outline: none;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
    background: $slate-gray;
  }
}

.file-input-label {

  &__btn {
    padding: 5px 10px;
    margin-right: 5px;
    color: $dark-gray;
    background: $light-gray;
    border: 1px solid $dark-gray;
    border-radius: $border-radius;

    &:hover {
      background: $dark-gray;
      border-color: $light-gray; 
      color: $white;
    }

    &:active {
      color: $red;
    }
  }
}