@import '../colors.scss';
@import '../borders.scss';

.common-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black-with-opacity;

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;
    background: $slate-gray;
    border-radius: $border-radius;
  }

  &__close-btn-wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__close-btn {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $red;
    }
  }
}