@import '../../../common/colors.scss';
@import '../../../common/font.scss';

.recent-photo-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 0;

  border-top: 1px solid $dark-gray;

  &__photo-wrapper {
    flex: 1 1 50%;
    margin-right: 5px;
  }

  &__photo {
    width: 100%;
  }

  &_photo-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 50%;
      
  }
}

.photo-info {
  &__title-link {
    text-decoration: none;
  }

  &__title {
    font-size: $main-font-size;
    color: $white;
    margin-bottom: 5px;
  }

  &__date-and-likes-wrapper  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__date {
    border-left: 1px solid $dark-gray;
    margin-left: 5px;
    font-size: $main-font-size;
  }
}
