@import '../../../common/colors.scss';
@import '../preview.scss';

.photo-preview {
  position: relative;
  @extend .preview;
  
  &__img {
    width: 100%;
    margin-bottom: 5px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__edit-lable {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: $red;
  }
}
