.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 80%;
}

.preiews-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}