@import '../colors.scss';
@import '../layout.scss';
@import '../borders.scss';

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  padding-left: $layout-padding;
  padding-right: $layout-padding;
  margin-bottom: 10px;

  background:$dark-slate-gray;
  border-bottom: 2px solid $gray;

  &__logo {
    flex: 1 1 20%;
    margin-right: $horizontal-block-gap;
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 80%;

  &__nav-link {
    display: block;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: $white;
  
    &:hover {
      color: $red;
    }
  }

  .active-nav-link {
    border: 1px solid $gray;
    border-radius: $border-radius;
  }
}
