@import '../../common/colors.scss';
@import '../../common/borders.scss';

.upload-photo-btn {
  padding: 5px;
  border: none;
  outline: none;
  background: $tomato;
  border-radius: $border-radius;

  &:hover {
    background: $red;
  }

  &:active {
    color: $white;
    background: $red;
  }
}