@import '../../common/colors.scss';
@import '../../common/font.scss';

.recent-photos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__title {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: $title-font-size;
    color: $white;
  }

  &__list {
    list-style: none;
  }
}