@import '../../../common/colors.scss';
@import '../preview.scss';

.album-preview {
  @extend .preview;
  position: relative;
  justify-content: center;

  &__img {
    width: 100%;
  }

  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__name {
    margin-bottom: 10px;
    color: $gold;
  }

  &__description {
    color: $light-gray;
  }
}