$dark-slate-gray: #4b4b4c;
$light-gray: #cccccc;
$slate-gray: #45484f;
$gray:#383838; 
$dark-gray: #333;
$black: #000;
$black-with-opacity: transparentize($black,  0.5);
$white: #fff;
$red: #db2f00;
$tomato: #fd625e;
$green: green;
$gold: gold;
