.preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1 1 30%;
  margin-bottom: 10px;
  margin-right: 10px;
  min-width: 300px;
  padding: 5px;
  background: $dark-gray;
}