@import '../../common/colors.scss';

.likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__like-btn {
    margin-right: 10px;
    text-decoration: none;
    color: $tomato;

    &:active {
      color: $dark-slate-gray;
    }

    &:hover{
      color: $white;
    }
  }

  &__likes-counter {
    color: $white;
  }
}