@import '../page-containers.scss';
@import '../../common/colors.scss';

.photo {
  @extend .page-container;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 5px solid $dark-gray;
  }

  &__img {
    width: 100%;
  }
}
